{% extends 'base.html' %}
{% load static %}

{% block title %}Mapa da Jornada{% endblock %}

{% block content %}

<section class="flex flex-col items-center justify-center text-center mt-2 mb-16 px-6">
    <div class="mb-2">
        <img src="{% static 'imagens/Design sem nome 1.png' %}" alt="Logo Mapa da Jornada" class="w-28 h-28 mx-auto">
    </div>
    <h1 class="text-5xl md:text-6xl font-bold leading-tight mb-3 text-black">
        Descubra o que é possível com<br>
        o extenso mundo da Tecnologia.
    </h1>
    <p class="text-sm md:text-xl text-gray-800 max-w-xl mb-6 p-4">
        Nós criamos o Mapa da Jornada para ajudar em sua jornada de conhecimento na área de TI.
        Um mapeamento das principais áreas de TI pelo mercado, com sugestões e evidências.
    </p>
    {% if user.is_authenticated %}
   
    {% else %}
    <a href="{% url 'login' %}" class="border border-gray-400 bg-[#BFDFF6] hover:scale-105 transition duration-300 text-black font-semibold py-3 px-10 rounded-lg transition">
        Acessar
    </a>
    {% endif %}
</section>


<section class="w-full py-12 md:py-16 lg:py-20">
    <div class="max-w-screen-xl mx-auto px-6 md:px-12">
      
      <h2 class="text-3xl font-bold text-gray-900 mb-4">Carreiras da área de TI</h2>
      <div class="separ mt-12">
        <h3 class="text-xl font-black text-gray-700 mb-10">1. Desenvolvimento de Software</h3>
    
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-semibold text-gray-800 mb-3">Desenvolvedor Frontend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cria a parte visual e interativa de sites e aplicativos que o usuário vê e utiliza.
            </p>
            <a href="{% url 'pagina_front' %}" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Backend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cuida dos servidores, bancos de dados e da lógica que fazem a aplicação funcionar.
            </p>
            <a href="{% url 'pagina_back' %}" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Mobile</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Área da tecnologia focada na criação e otimização de aplicativos e sistemas para dispositivos móveis.
            </p>
            <a href="{% url 'pagina_mobile' %}" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    </div> <!-- separ -->
    
    
    <div class="separ mt-12">
        <h3 class="text-xl font-black text-gray-700 mb-10">2. Dados: Ciência, Análise e Engenharia</h3>
    
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Frontend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cria a parte visual e interativa de sites e aplicativos que o usuário vê e utiliza.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Backend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cuida dos servidores, bancos de dados e da lógica que fazem a aplicação funcionar.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Mobile</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Área da tecnologia focada na criação e otimização de aplicativos e sistemas para dispositivos móveis.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    </div> <!-- separ -->

    <div class="separ mt-12">
        <h3 class="text-xl font-black text-gray-700 mb-10">3. Cibersegurança</h3>
    
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Frontend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cria a parte visual e interativa de sites e aplicativos que o usuário vê e utiliza.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Backend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cuida dos servidores, bancos de dados e da lógica que fazem a aplicação funcionar.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Mobile</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Área da tecnologia focada na criação e otimização de aplicativos e sistemas para dispositivos móveis.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    </div> <!-- separ -->

    <div class="separ mt-12">
        <h3 class="text-xl font-black text-gray-700 mb-10">4. Infraestrutura e Operações em TI</h3>
    
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Frontend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cria a parte visual e interativa de sites e aplicativos que o usuário vê e utiliza.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Backend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cuida dos servidores, bancos de dados e da lógica que fazem a aplicação funcionar.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Mobile</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Área da tecnologia focada na criação e otimização de aplicativos e sistemas para dispositivos móveis.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    </div> <!-- separ -->

    <div class="separ mt-12">
        <h3 class="text-xl font-black text-gray-700 mb-10">5. Interface e Experiência do Usuário</h3>
    
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Frontend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cria a parte visual e interativa de sites e aplicativos que o usuário vê e utiliza.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Backend</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Cuida dos servidores, bancos de dados e da lógica que fazem a aplicação funcionar.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    
            <div class="bg-white rounded-lg shadow-lg p-6 flex flex-col text-center items-center transform transition-transform hover:scale-105">
            <h4 class="text-xl font-bold text-gray-800 mb-3">Desenvolvedor Mobile</h4>
            <p class="text-gray-600 mb-6 flex-grow">
                Área da tecnologia focada na criação e otimização de aplicativos e sistemas para dispositivos móveis.
            </p>
            <a href="#" class="mt-auto bg-[#E0E8F3] hover:bg-[#C5D3E8] text-gray-800 font-semibold py-2 px-6 rounded-lg transition-colors">
                Saiba Mais
            </a>
            </div>
    </div> <!-- separ -->

    </div>
  </section>


{% endblock %}

