{% extends 'base.html' %}
{% block title %}Meu Perfil{% endblock %}

{% block content %}
<div class="min-h-screen flex justify-center items-start py-10">
  <div class="w-full max-w-2xl px-8">
    
    <!-- Título -->
    <h1 class="text-4xl font-semibold mb-12 text-left text-gray-900">Meu Perfil</h1>
    <div class="flex items-center gap-6 mb-10">
      <div class="w-24 h-24 rounded-full bg-gray-300 flex items-center justify-center">
        <span class="text-gray-500 text-2xl font-bold">
          {{ user.first_name|first|upper }}{{ user.last_name|first|upper }}
        </span>
      </div>

      <div class="flex-1 text-left">
        <!-- NOME DO USUÁRIO - aparece do login -->
        <h2 class="text-3xl font-extrabold text-gray-900">
          {% if user.first_name or user.last_name %}
            {{ user.first_name }} {{ user.last_name }}
          {% else %}
            {{ user.username }}
          {% endif %}
        </h2>
        <p class="text-gray-800 mt-2">
          {{ perfil.curso|default:"Curso não informado" }}
        </p>
      </div>

      <a href="{% url 'editar_perfil' %}"
         class="bg-white text-gray-900 font-medium py-2 px-4 rounded-md border border-gray-300 hover:bg-gray-100 transition">
         Editar Perfil
      </a>
    </div>

    <!-- Habilidades -->
    <div class="mt-8">
      <h3 class="text-3xl font-bold text-gray-900 mb-3">Habilidades</h3>
      <div class="flex flex-wrap gap-3">
        {% for hab in habilidades %}
          <span class="bg-[#BFDFF6] text-gray-900 px-4 py-2 rounded-md text-lg font-medium">
            {{ hab.nome }}
          </span>
        {% empty %}
          <p class="text-gray-600 text-sm">Nenhuma habilidade cadastrada.</p>
        {% endfor %}
      </div>
    </div>

    <!-- Competências -->
    <div class="mt-10 mb-12">
      <h3 class="text-3xl font-bold text-gray-900 mb-3">Competências</h3>
      <div class="flex flex-wrap gap-3">
        {% for comp in competencias %}
          <span class="bg-[#BFDFF6] text-gray-900 px-4 py-2 rounded-md text-lg font-medium">
            {{ comp.nome }}
          </span>
        {% empty %}
          <p class="text-gray-600 text-sm">Nenhuma competência cadastrada.</p>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endblock %}